.geniusCoinRateContainer .currentRate {
  color: white;
}

.geniusCoinRateContainer > div:nth-child(2) {
  display: flex;
  column-gap: 50px;
}

.editRateInput {
  padding: 8px;
  border: 1px solid grey;
  border-radius: 4px;
  min-width: 100%;
  font-size: 20px;
}
