.layout {
  display: flex;
  background-color: #555;
  min-height: 100vh;
}

.layout > div:first-child {
  width: 20%;
}

.layout > div:nth-child(2) {
  width: 80%;
}

.rightSide {
  height: 100vh;
  overflow-y: scroll;
}

.page {
  padding: 16px;
}

.pageName {
  color: white;
  margin-bottom: 12px;
}

.tableHeader {
  color: white;
}

.numberText {
  font-size: 25px;
  padding: 4px;
  color: #6495ed;
}

.tableHeading {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
}
